In [14]:
import pandas as pd
import numpy as np

## 대여소 정보 데이터프레임 피클라이저

In [48]:
column_types = {
    '자전거번호': 'category',
    '대여소번호': 'category',
    '대여대여소명': 'category',
    '대여거치대': 'category',
    '반납대여소번호': 'category',
    '반납대여소명': 'category',
    '반납거치대': 'category',
    '이용시간': 'int32',
    '이용거리': 'int32',
}

In [49]:
df1 = pd.read_excel('data/서울시 공공자전거 대여이력 정보/서울특별시 공공자전거 대여정보_201809_1.xlsx',
                   dtype=column_types, parse_dates=['대여일시', '반납일시'])

In [35]:
df2 = pd.read_excel('data/서울시 공공자전거 대여이력 정보/서울특별시 공공자전거 대여정보_201809_2.xlsx',
                   dtype=column_types, parse_dates=['대여일시', '반납일시'])

In [44]:
df2.head()

,자전거번호,대여일시,대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-11299,2018-09-23 20:46:05,125,서강대 남문 옆,2,2018-09-23 20:50:02,129,신촌역(2호선) 6번출구 옆,9,4,670
1,SPB-14425,2018-09-23 20:46:03,1518,SK telecom(수유직영점) 앞,9,2018-09-23 20:50:12,1512,강북중학교 앞,19,3,1150
2,SPB-05366,2018-09-23 20:47:55,3501,광진구청 앞,3,2018-09-23 20:50:20,3520,광진경찰서,5,2,360
3,SPB-05791,2018-09-23 20:45:33,2307,압구정 한양 3차 아파트,1,2018-09-23 20:50:20,2307,압구정 한양 3차 아파트,1,4,360
4,SPB-18318,2018-09-23 20:47:01,591,건국대학교 (행정관),1,2018-09-23 20:50:30,503,더샵스타시티 C동 앞,15,3,850

In [46]:
df2.tail()

,자전거번호,대여일시,대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
385062,SPB-13770,2018-09-30 23:59:12,106,합정역 7번출구 앞,3,2018-10-01 03:43:04,248,초원아파트 앞,4,223,7730
385063,SPB-06362,2018-09-30 22:47:39,1208,풍납현대아파트쉼터,3,2018-10-01 05:49:59,1208,풍납현대아파트쉼터,10,422,0
385064,SPB-12767,2018-09-30 22:02:56,2222,사당역 12번출구 뒤,1,2018-10-01 06:29:11,2048,삼일초등학교 인근,1,250,1790
385065,SPB-18187,2018-09-30 23:59:59,277,영등포뉴타운지하상가 2번게이트,5,2018-10-01 07:07:24,268,그랜드컨벤션센터 앞,3,427,2480
385066,SPB-13571,2018-09-30 22:30:16,2025,흑석역 1번출구,6,2018-10-01 07:41:29,247,당산역 10번출구 앞,10,550,8500

### df.append 이용

In [41]:
df3 = df1.append(df2)

(1048575, 11)

In [42]:
df.head()

,자전거번호,대여일시,대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-16278,2018-09-01 00:01:14,1355,보문2교,4,2018-09-01 00:04:14,1338,용문2교 옆,15,2,310
1,SPB-07017,2018-09-01 00:00:08,1914,대림역4번출구,5,2018-09-01 00:05:03,1985,구로도서관,20,4,470
2,SPB-00857,2018-09-01 00:02:42,144,공덕역 8번출구,1,2018-09-01 00:05:04,144,공덕역 8번출구,1,2,0
3,SPB-16272,2018-09-01 00:01:04,1119,염창동 한마음아파트앞(염창동 빛나는 음악학원앞),1,2018-09-01 00:05:08,1115,등촌역 1번출구옆,5,3,510
4,SPB-11204,2018-09-01 00:00:01,559,왕십리역 4번 출구 건너편,10,2018-09-01 00:05:12,537,한양대후문역 부근,9,5,880

In [51]:
df3 = df3.astype(column_types)

In [52]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1433642 entries, 0 to 385066
Data columns (total 11 columns):
자전거번호      1433642 non-null category
대여일시       1433642 non-null datetime64[ns]
대여소번호      1433642 non-null category
대여대여소명     1433642 non-null category
대여거치대      1433642 non-null category
반납일시       1433642 non-null datetime64[ns]
반납대여소번호    1433642 non-null category
반납대여소명     1433642 non-null category
반납거치대      1433642 non-null category
이용시간       1433642 non-null int32
이용거리       1433642 non-null int32
dtypes: category(7), datetime64[ns](2), int32(2)
memory usage: 61.1 MB

In [54]:
df3.to_pickle('data/서울시 공공자전거 대여이력 정보/dataframes/1809')

In [43]:
df.tail()

,자전거번호,대여일시,대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
1048570,SPB-14310,2018-09-23 20:39:16,1531,미아사거리 1번 출구,1,2018-09-23 20:56:52,1535,효성인텔리안 앞,3,17,2900
1048571,SPB-17308,2018-09-23 19:43:49,2311,학동로 래미안 아파트 앞,6,2018-09-23 20:56:52,1264,천호역 10번 출구 앞,3,72,11670
1048572,SPB-10318,2018-09-23 20:29:23,211,여의도역 4번출구 옆,11,2018-09-23 20:56:53,247,당산역 10번출구 앞,14,27,4590
1048573,SPB-18216,2018-09-23 20:17:55,2206,언남초등학교 앞,4,2018-09-23 20:56:54,2206,언남초등학교 앞,5,38,6940
1048574,SPB-07388,2018-09-23 20:45:01,1009,천호역4번출구(현대백화점),8,2018-09-23 20:56:54,1047,건강보험 강동지사kt,2,11,1290

## 대여소번호 - 지역구 피클라이저

In [55]:
df = pd.read_csv('data/서울특별시 공공자전거 대여소 정보.csv')
df.head()

,구명,대여소ID,대여소번호,대여소명,대여소 주소,거치대수,위도,경도
0,강남구,ST-777,2301,현대고등학교 건너편,서울특별시 강남구 압구정로 134현대고등학교 건너편,10,37.524071,127.021790
1,강남구,ST-787,2302,교보타워 버스정류장(신논현역 3번출구 후면),서울특별시 강남구 봉은사로 지하 102교보타워 버스정류장,10,37.505581,127.024277
2,강남구,ST-788,2303,논현역 7번출구,서울특별시 강남구 학동로 지하 102논현역 7번출구,15,37.511517,127.021477
3,강남구,ST-789,2304,신영 ROYAL PALACE 앞,서울특별시 강남구 언주로 626신영 ROYAL PALACE앞,10,37.512527,127.035835
4,강남구,ST-790,2305,MCM 본사 직영점 앞,서울특별시 강남구 언주로 734MCM 본사 직영점 앞,10,37.520641,127.034508